/node_modules
.DS_STORE


test/node_modules
test/.pnp
test/.pnp.js


test/coverage


test/build

# misc
test/.DS_Store
test/.env.local
test/.env.development.local
test/.env.test.local
test/.env.production.local

test/npm-debug.log*
test/yarn-debug.log*
test/yarn-error.log*